                                      

                      
$variable: #ff0000;                  

                   
$another: 10px;

            
$primary: blue;
$secondary: green;                    

               
.container {
                     
    padding: 20px;
    
    .child {
                         
        color: $primary;
        
        .grandchild {
                          
            margin: 0;
        }
    }
}

         
@mixin flex-center {
                    
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin responsive($breakpoint) {
                       
    @media (min-width: $breakpoint) {
        @content;                   
    }
}

                 
.element {
    @include flex-center;                   
    @include responsive(768px) {
                         
        width: 100%;
    }
}

            
@function double($n) {
                       
    @return $n * 2;
}

.result {
    width: double(10px);                 
}

                 
%placeholder {
                          
    color: red;
}

.extends {
    @extend %placeholder;                  
}

            
.math {
    width: 100% / 3;            
    height: 10px + 5px;            
    margin: 20px - 5px;               
}

                
$prop: color;
.interp {
    #{$prop}: red;                         
}

            
@each $size in small, medium, large {
                   
    .text-#{$size} {
        font-size: $size;
    }
}

           
@for $i from 1 through 5 {
                  
    .col-#{$i} {
        width: 20% * $i;
    }
}

             
$i: 1;
@while $i <= 5 {
                    
    .item-#{$i} { order: $i; }
    $i: $i + 1;
}

          
@if $condition {
                 
    .true { display: block; }
} @else {
                   
    .false { display: none; }
}

       
$colors: (
                  
    primary: blue,
    secondary: green,            
);

                
.uses-map {
    color: map-get($colors, primary);                   
}

                  
@import "partial";                  

              
@include responsive(768px) {
                    
    .mobile { width: 100%; }
}

                      
.css-block {
                           
    color: red;
}

                 
.mixed {
                   
                       
    padding: 10px;          
}

        
              
